<div class="logo text-center">
  <img class="logo-img" src="../../favicon.ico" alt="GymSoul logo">
</div>

<div class="registation-form m-3 p-4">
  <form>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name">
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name">
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>