.logo {
  &-img {
    margin-bottom: 20px;
    max-height: 70px;
    border-radius: 5px;
  }
}

.registation-form {
  display: flex;

  .col-md-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    color: rgb(229, 229, 229);

    mat-form-field {
      margin-bottom: 7px;
      width: 90%;

      mat-label {
        color: rgb(229, 229, 229);
      }

      input {
        color: rgb(229, 229, 229);
        border: 1px solid rgb(229, 229, 229);

        &::placeholder {
          color: rgba(229, 229, 229, 0.225);
        }
      }

      mat-icon {
        display: flex;
        align-items: center;
      }

      mat-hint {
        font-size: 1rem;
        color: rgb(229, 229, 229, 0.525);
      }
    }
  }

  .col-md-12 {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      margin-top: 47px;
      width: 10%;
    }
  }
}

.col-radio {
  display: flex;
  justify-content: center;
  height: 85px;

  .choice-radio {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    padding: 10px 11px 0 16px;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.38);
    border-radius: 5px;

    &:hover {
      border-color: black;
    }

    .choice-radio-column {
      display: flex;
      flex-direction: column;
      color: rgba(229, 229, 229, 0.895);

      p {
        color: rgb(229, 229, 229, 0.525);
      }
    }
  }
}

.col-select {
  margin-top: 47px;
}

//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------

@media only screen and (min-width: 300px) and (max-width: 768px) {
  .col-radio {
    margin-bottom: 85px;
  }

  .col-select {
    margin-top: 0;
  }
}

@media only screen and (min-width: 365px) {
  .col-md-6 {
    .form-field-underRadio {
      margin-top: 40px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .col-md-6 {
    margin-bottom: 20px;
  }
}
