.logo {
  &-img {
    margin-bottom: 20px;
    max-height: 70px;
    border-radius: 5px;
  }
}

.registation-form {
  display: flex;
  justify-content: center;

  .row {
    display: flex;
    justify-content: center;

    .col-md-6 {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 12px;
      width: clamp(250px, 400px, 80vw);
      max-height: 150px;
      color: rgb(229, 229, 229);

      &.col-radio {
        margin-bottom: 30px;

        &.col-select {
          margin-bottom: 12px;
        }
      }

      mat-form-field {
        width: 90%;

        mat-label {
          color: rgb(229, 229, 229);
        }

        input {
          color: rgb(229, 229, 229);
          border: 1px solid rgb(229, 229, 229);

          &::placeholder {
            color: rgba(229, 229, 229, 0.225);
          }
        }

        mat-icon {
          display: flex;
          align-items: center;
        }

        mat-hint {
          font-size: 1rem;
          color: rgb(229, 229, 229, 0.525);
        }
      }
    }

    .col-md-12 {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        width: 20%;
      }

      .cancel-button {
        margin-right: 40px;
        color: black;
      }
    }
  }
}

.col-radio {
  display: flex;
  justify-content: center;

  .choice-radio {
    display: flex;
    justify-content: space-between;
    padding: 10px 11px 0 16px;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.38);
    border-radius: 5px;

    &:hover {
      border-color: black;
    }

    .choice-radio-column {
      display: flex;
      flex-direction: column;
      color: rgba(229, 229, 229, 0.895);

      p {
        color: rgb(229, 229, 229, 0.525);
      }

      .required {
        margin-left: 2px;
        color: tomato;
      }
    }
  }
}

@media only screen and (min-width: 300px) and (max-width: 360px) {
  .col-md-6 {
    &.col-select-package {
      margin-top: 35px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .col-md-6 {
    max-width: 300px;
  }
}
