mat-toolbar {
  position: fixed;
  top: 0;
  max-width: 100vw;
  opacity: 1;
  z-index: 100;

  .nav {
    display: flex;
    align-items: center;

    .logoRouter {
      cursor: pointer;

      img {
        margin-right: 10px;
        max-height: 30px;
        border-radius: 5px;
      }

      .name {
        font-size: 2rem;
        pointer-events: none;
      }
    }

    .example-spacer {
      flex: 1 1 auto;
    }

    button {
      padding: 4px 12px;
      font-size: 1.2rem;
    }
  }
}

.router-outlet {
  margin-top: 100px;
}

//----------------------------------------
//----------------------------------------
//----------------------------------------
//----------------------------------------
//----------------------------------------

@media only screen and (min-width: 768px) {
  .nav {
    &__name {
      font-size: 2.2rem;
    }

    button {
      font-size: 1.4rem;
    }
  }
}
