/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 200, 600, 900);
$my-accent: mat.define-palette(mat.$green-palette, A200, A400);
$my-warn: mat.define-palette(mat.$red-palette, 500, 700, 800);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($my-theme);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-width: 100vw;
  min-height: 100vh;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: rgb(229, 229, 229);
  background-image: linear-gradient(70deg, #3d405b, rgb(62, 65, 92));
}

svg {
  color: rgb(229, 229, 229) !important;
}

.mat-mdc-radio-button
  .mdc-radio
  .mdc-radio__native-control:enabled:not(:checked)
  + .mdc-radio__background
  .mdc-radio__outer-circle {
  border-color: rgb(229, 229, 229) !important;
}

.mdc-form-field > label {
  color: rgb(229, 229, 229) !important;
}

.mdc-form-field {
  margin-right: 10px;
}

.mat-mdc-select-value {
  color: rgb(229, 229, 229);
}

.mat-mdc-icon-button {
  color: rgb(229, 229, 229) !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: tomato !important;
}

.filter {
  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: black !important;
  }
}

.mat-mdc-text-field-wrapper {
  border-radius: 5px !important;
}

.mat-mdc-paginator .mat-mdc-select-value {
  color: black !important;
}

ng-confirm {
  .modal1.active {
    height: 200px;
    max-height: 300px;
    padding: 0 16px;
    background-color: #9fa8da;

    .dialog-content {
      font-size: 1.4rem;
    }

    button {
      transition: box-shadow 0.3s;
    }
  }
}
